

/* font*/

@font-face {
  font-family: Sanseriffic;
  src: url('../fonts/Sanseriffic/Sanseriffic.otf'); 
}


@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Medium;
  src: url('../fonts/raleway/Raleway-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}



html{
	font-family:Sanseriffic ;
}

.imagen{
	float: center;
	margin-left: 70px;
}


.about{
	-webkit-animation: tracking-out-contract 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}


body{
	width: 100%;
	margin: 0px;
}

h1{
	font-size: 30px; 
}

h1:hover{
	opacity: 0.5;
}

h3:hover{
	opacity: 0.5;
}

h3{ 
font-size: 25px;
 }

.texto h1{
	font-size: 35px;
	text-align: center;
	color: #000000;
	margin-top: 15px;
	margin-bottom: 60px;
	font-weight: lighter;
}

.li1{
	color: #000000;
	font-weight: lighter;
	font-size: 20px;
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}



.cont-menu{
	background-color: white;
	width: 20%;
	height: 500px;
	font-family: Sanseriffic;
	text-align: center;
	float: left;
}

.logos{
	margin-left: 15px;
}

li{
	list-style:none;

}

.texto{
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: #8E918C;
}

.texto li{
	margin-bottom: 8px;
	font-size: 20px;
}

a{

text-decoration: none;
color: #8E918C;
font-weight: bold;
}

.galeria p{
	color: #8E918C;
}
.galeria{
	background-color: white;
	width: 79%;
	height: 2000px;
	float: right;

}




img{
	background-color: white;
}
.logos{
	margin-top: 100px;
	background-color: white;
	width: 200px;
	height: 60px;
	
}

.logos img{
opacity: 0.5;
}

.logos img:hover{
opacity: 90;
}

footer{
	background-color: pink;
	margin-top:100px;
	float: right;
}

.cont-menu ul li{
	text-align: center;

}

.cont-menu h3{
	text-align: center;
}

.cont-menu h1{
	text-align: center;
}



 a:hover{
	color: #000000;
}

.fotografias h1{
	text-align: center;
	font-size: 50px;
	font-family: Sanseriffic;

}



 ul li{margin-bottom: 0.1px;}

p{
	text-align: center;
}

@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

.texto h1{
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	       -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}




@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    color: #19dcea;
  }
  100% {
    color: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    color: #19dcea;
  }
  100% {
    color: #b22cff;
  }
}
